@import "./layout/header";
@import "./layout/content";
@import "./layout/footer";

.layout-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right top, lighten(#cf91fb, 10), #6cdbeb);
}
