.header {
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  min-width: 30em;
  padding-bottom: 0em;
  border-radius: 0 0 40% 40%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  &__title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
  }
}
//** media queries
@media (max-width: $breakpoint-tablet) {
  .header {
    min-width: 20em;
    &__title {
      font-size: 1.2em;
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .header {
    min-width: 12em;
    &__title {
      padding: 0 0.5em;
      font-size: 1em;
    }
  }
}
